@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

:root {
    --white: #fefefe;
    --primary: #7562e0;
    --dark-mode-S900: #1a1a29;
    --dark-mode-S1000: #181824;
    --dark-mode-S200: #31313f;
    --gradient-1: linear-gradient(180deg, #6473ff 0%, #2134e1 99.99%, #152bf1 100%);
    --gradient-2: linear-gradient(139deg, #f97878 9.79%, rgba(255, 176, 119, 0.81) 64.34%, rgba(255, 176, 119, 0.81) 90.36%);
    --gradient-3: linear-gradient(140deg, #f97878 0%, #4052fb 73.99%, #0720ff 100%);
    --gradient-4: linear-gradient(142deg, #26c8fc 6.46%, #57ecc8 58.9%, #49f5db 93.88%);
}


body {
    background-color: var(--dark-mode-S900);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 120px auto;
    width: 80%;
}

nav {
    background-color: var(--dark-mode-S1000);
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    align-items: center;
}

.menu {
    display: none;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.container {
    width: 80%;
    margin: auto;
}

#header {
    display: flex;
    margin: 60px auto;
    justify-content: space-between;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    max-width: 500px;
}

.header-content h2 {
    font-size: 42px;
}

.header-content h1 {
    font-size: 52px;
}

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    padding: 14px 28px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.btn img {
    width: 14px;
    height: 14px;
}

.primary-btn {
    background: var(--primary);
    color: white;

}

.secondary-btn {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--white);
}

.title {
    color: var(--primary);
}

.experience {
    display: flex;
    gap: 20px;
    align-items: center;
}

.description {
    margin-top: 10px;
}

.experience-title {
    color: var(--primary);
    font-size: 80px;
}

.experience p {
    font-size: 18px;
    font-weight: bold;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.skill {
    background: rebeccapurple;
    border-radius: 10px;
    height: 250px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
}

.skill img {
    width: 50px;
}

.skill h1 {
    font-size: 30px;
}

.skill-1 {
    background: var(--gradient-1);
}

.skill-2 {
    background: var(--gradient-2);
}

.skill-3 {
    background: var(--gradient-3);
}

.skill-4 {
    background: var(--gradient-4);
}

.services-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.service {
    height: 300px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    gap: 10px;
}

.service img {
    width: 50px;
}

.service:hover {
    background: var(--gradient-1);
    border: none;
    cursor: pointer;
}

.service:hover title {
    color: var(--white);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 50px;
    gap: 30px;
}

.project {
    background: var(--dark-mode-S200);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project img {
    min-width: 100%;
}

.project .button-wrapper {
    justify-content: space-between;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-links {
    max-width: 300px;
}

.social-links p {
    font-weight: bold;
}

.social-links {
    max-width: 300px;
}

.form-wrapper {
    max-width: 500px;
}

.form-wrapper input {
    width: 100%;
    margin-top: 15px;
    background: var(--dark-mode-S200);
    padding: 16px;
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 5px;
}

.form-wrapper textarea {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 16px;
    background: var(--dark-mode-S200);
    padding: 20px;
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 5px;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-text {
    opacity: 0.5;
}

#footer {
    margin-top: 120px;
}

@media only screen and (max-width:420px) {
    #header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section {
        margin: 60px auto;
    }
    .container {
        width: 90%;
        margin: auto;
    }

    .nav-list {
        flex-direction: column;
        background-color: var(--dark-mode-S200);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        align-items: center;
        margin-top: -900px;
        transition: margin 0.3s ease-in;
    }
    .nav-list.active {
        margin-top: 0;
        /* display: none; */
    }
    .menu {
        display: block;
        width: 30px;
        z-index: 999;
    }

    .nav {
        padding: 10px;
    }
    .contact-container {
        flex-direction: column;
        gap: 30px;
    }
    .footer-content {
        flex-wrap: wrap;
        gap: 10px;
    }
}